@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    background-color: #ffe6ff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(255, 64, 0);
}

h3 {
    background-color: aquamarine;
    color: darkmagenta;
    padding: 1%;
}

/* .container {
    font-size: 10px;
} */

p {
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    color: hsl(240, 100%, 20%);
    font-size: 1.4rem;
    font-weight: bolder;
    line-height: 1.2em;
}