* {
    box-sizing: border-box;
}

.box{
    color: white;
    font-size: 100px;
    text-align: center;
    padding: 10px;
}

.box1 {background: red;}
.box2 {background: green;}
.box3 {background: yellow;}
.box4 {background: brown;}
.box5 {background: orange;}
.box6 {background: purple;}
.box7 {background: black;}
.box8 {background: magenta;}
.box9 {background: silver;}
.box10 {background: teal;}

.container {
    display: flex;
    border: 3px solid black;
}

.box {
    width: 300px;
}

.box3 {
    order: 1;
}

.box5 {
    order: 2;
}