body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #ffc600 ;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    display: inline;
    padding: 0 20px;
}

header .branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 24px;
}

header .highlight{
    color: #ffc600;
    font-weight: bold;
}

header a:hover {
    color: #ffc600;
}

#showcase{
    min-height: 400px;
    background-image: url('./images/showcase.jpg');
    background-repeat: no-repeat;
    background-position: 0 -500px;
    text-align: center;
    color: #fff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

#boxes{
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
}

footer {
    padding: 16px;
    margin-top: 20px;
    color: #fff;
    background-color: #ffc600;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bolder;
}

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

article#main-col {
    float: left;
    width: 65%;
}

.dark {
    padding: 15px;
    background-color: #35424a;
    color: #fff;
}

ul#services li{
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #e6e6e6;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
    margin-bottom: 5px;
}

.button_1{
    padding: 8px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #ffc600;
    text-transform: uppercase;
    font-weight: bolder;
}

.button_1:hover{
    background-color: #35424a;
    color: #fff;
    cursor: pointer;
}

@media(max-width: 768px){
    header .branding, header nav, #boxes .box, aside#sidebar, article#main-col {
        float: none;
        text-align: center;
        width: 100%;
    }

    #showcase h1 {
        font-size: 25px;
    }

    #showcase p {
        font-size: 16px;
    }

    aside#sidebar {
        margin-bottom: 100px;
    }

    #boxes .box:nth-child(3) {
        margin-bottom: 80px;
    }
}