body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #ffc600 ;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    display: inline;
    padding: 0 20px;
}

header .branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 24px;
}

header .highlight{
    color: #ffc600;
    font-weight: bold;
}

header a:hover {
    color: #ffc600;
}

#showcase{
    min-height: 400px;
    background-image: url('./images/showcase.jpg');
    background-repeat: no-repeat;
    background-position: 0 -500px;
    text-align: center;
    color: #fff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

#boxes{
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
}