:root {
    --yellow: #ffc600;
    --black: #272727;
  }
  
  html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background-image: url('./images/topography.svg'),
      linear-gradient(110deg, #f93d66, #6d47d9);
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
    background-attachment: fixed;
    letter-spacing: -1px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 5px 0;
  }
  /* Each item in our grid will contain numbers */
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 35px;
    background-color: var(--yellow); /* best colour */
  }
  .item p {
    margin: 0 0 5px 0;
  }

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}

.item9 {
    background-color: mistyrose;
    grid-column: span 2;
    grid-row: span 2;
}

.item16 {
    background: lightgreen;
    /* grid-column-start: 2;
    grid-column-end: 6; */

    /* grid-column: 2 / 6; */

    grid-column: 2 / span 4;
}

.item17 {
    background-color: sienna;
    grid-column: 1 / -1;
}

.item18 {
    background-color: springgreen;
    grid-column: 1 / -2;
}
.item20 {
    background-color: linen;
    grid-column: 1 / -3;
    grid-row: 8 / 10;
}